<nav class="custom-navbar">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#" *ngIf="isAuthenticated()">My Store</a>

    <!-- Navbar Links -->
    <ul class="navbar-links">
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" routerLink="/displayItems">Products</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" routerLink="/orderedItems">Ordered Items</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" routerLink="/checkoutForm">Checkout Form</a>
      </li>


      <!-- Admin Privileges -->
      <li class="nav-item dropdown" *ngIf="isAuthenticated() && role === 'ROLE_ADMIN'" (click)="ifClicked()">
        <a class="nav-link dropdown-toggle"  role="button">
          Admin Privileges
        </a>
        <ul class="dropdown-menu" *ngIf="isDropDown" (click)="$event.stopPropagation()">

            <li><a class="dropdown-item" routerLink="/viewBestCustomer">Best Customer</a></li>
            <li><a class="dropdown-item" routerLink="/stock">Available Stock</a></li>
            <li><a class="dropdown-item" routerLink="/updateProduct">Update Product</a></li>
            <li><a class="dropdown-item" routerLink="/addProduct">Add Product</a></li>
          <li><a class="dropdown-item" routerLink="/validate">Validate Payment</a></li>

        </ul>
      </li>
      <div class="sub-nav-list">
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" (click)="signOut()">Sign Out</a>
        </li>
        <!-- Profile Picture Section Moved to Right -->
        <li *ngIf="isAuthenticated()" class="nav-item profile-pic">
          <img routerLink="/account" [src]="profilepic" alt="Profile Picture" class="profile-img">
        </li>

      </div>


    </ul>
  </div>
</nav>
