<div class="account-container">
  <div class="account-box">
    <div class="profile-pic">
      <img [src]="userProfileImage" alt="log In">
    </div>
    <div class="user-details">
      <h2>{{userName || 'UserName'}}</h2>
      <p>{{ email || 'Email'}}</p>
      <p>{{lastName || 'lastName'}}</p>
    </div>
    <div class="sign-out">
      <button (click)="signOut()" >Sign Out</button>
    </div>
  </div>

  <div>
    <table>
      <tr>
        <th>Order Id</th>
        <th>View Order</th>
        <th>Paid date</th>
      </tr>

    <tr *ngFor="let order of listOfOrders">
      <td>
        {{order.orderId}}
      </td>
      <td>
        <button (click)="viewOrder(order.orderId)">
          View Order
        </button>
      </td>
      <td>{{ order.paidDate | date: 'yyyy-MM-dd' }}</td>
    </tr>
    </table>

  </div>
</div>

<div class="pagination2">
  <nav aria-label="Page  example account.component.html" >
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="fetchOrders(0,20)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let item of [].constructor(pages); let i=index"><a class="page-link" (click)="fetchOrders(i,20)" >{{i}}</a></li>

      <li class="page-item">
        <a class="page-link" (click)="fetchOrders(pages-1,20)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</div>

