<!-- component.html -->

  <div class="product-container">
    <img src="{{product.imageUrl}}" alt="" class="product-image">
    <h1 class="product-name">Name of Product: {{product.productName}}</h1>
    <p class="product-description">Description: {{product.description}}</p>
    <p class="product-unique-item">Quantity :{{product.quantity}}</p>
    <p class="product-price">Price: {{product.price}}$</p>
    <p class="product-unique-item">  {{uniqueItem2}}</p>
    <p class="product-unique-item"> {{uniqueItem1}}</p>
  </div>

