body {

  /*background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);*/
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Ensure no horizontal scrollbar */
  /*background: url("../../../assets/login-bg.jpeg");*/
}

.container2{
  position: relative;
  display: flex;
  /*background: url("../../../assets/signUp.jpg");*/
  background: url("../../../assets/login-bg2.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  /*height: 90%;*/


}


.card-body{
  font-size: 28px;
  width: 700px;
margin-top: 150px;


}
.sign{

  width: 815px;
  color: #025702;
  /* From https://css.glass */
  background: rgba(255, 255, 255);

  margin-left: 1100px;
  text-align: left;
  /*background: radial-gradient(263px at 100.2% 3%, rgb(122, 30, 51) 31.1%, rgb(170, 73, 91) 36.4%, rgb(232, 157, 157) 50.9%, rgb(206, 187, 190) 60.7%, rgb(249, 140, 69) 72.5%, rgb(12, 73, 116) 72.6%);*/
  /*background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));*/
  background: radial-gradient(263px at 100.2% 3%,
  rgb(15, 57, 15) 29.1%,  /* Deep Maroon */ rgb(64, 129, 39) 36.4%,  /* Medium Maroon */ rgb(123, 163, 70) 50.9%, /* Light Maroon */ rgb(183, 206, 144) 70.7%,/* Pale Maroon */ rgb(243, 251, 220) 72.5%,/* White */
  rgb(255, 255, 255) 72.6% /* White */

  );


}
.p-md-5 {
  padding: 100px !important;
}
p{
  width: 340px;

}
.form-control{
  margin-left: 50px;
}
/*  margin-top: 20px;*/
/*  margin-bottom: 20px;*/
/*}*/
.text-muted{
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}
label {
  margin-left: 50px;
}
.text-center{
 margin-left: 150px;
}
h4.mt-1.mb-5.pb-1{
margin-right: 140px;

}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  -webkit-transition: none!important;
  transition: none !important;
}
.nsm7Bb-HzV7m-LgbsSe.MFS4be-v3pZbf-Ia7Qfc {
  background-color: rebeccapurple;
  left: 50px;
}
