<div class="container2">


  <div class="sign">

    <div class="col-lg-6">
      <div class="card-body p-md-5 mx-md-4">

        <div class="text-center">

<!--          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"-->

<!--               style="width: 185px;" alt="logo">-->
          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

          <dotlottie-player src="https://lottie.host/81e55964-f1a7-4022-b353-702296f7d324/dF7rtjfB0f.json" background="transparent" speed="1" style="width: 185px; height: 185px;" loop autoplay></dotlottie-player>
          <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
        </div>

        <form>


          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example11">Username</label>
            <input type="email" id="form2Example11" class="form-control"
                   placeholder="Phone number or email address" />
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example22">Password</label>
            <input type="password" id="form2Example22" class="form-control" />
            <a class="text-muted" href="#!">Forgot password?</a>

          </div>

          <div class="text-center pt-1 mb-5 pb-1">
            <button class="sign-in-btn fab fa-google"  id="google-btn">
            </button>

          </div>

        </form>

      </div>
    </div>
  </div>

</div>

