<div class="list-of-customers">
  <table>

      <tr>
        <th>
          Id
        </th>
        <th>
          Email
        </th>
        <th>
          Price
        </th>
      </tr>
      <tr *ngFor="let customer of listOfCustomers">
        <td>{{customer.id}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.price}}</td>
      </tr>
  </table>

  <div class="chart">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>

</div>
